<%- include('partials/header') %>

<div class="dashboard">
    
    <div class="course-list">
        <h6>Enrolled Courses</h6>
        <h1>A<%= enrolledCourses.course_id %></h1>
    </div>

    <!-- Notifications -->
    <div class="notifications">
        <h6>Notifications</h6>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
