<%- include('partials/header') %>

<div class="dashboard">
    
    <div class="course-list">
        <h6>Courses</h6>

      <div class="course">
        <div>
          <h3>Course 1</h3>
          <p>Description</p>
        </div>
        <div><h2>A</h2></div>
      </div>

      <div class="course">
        <div>
          <h3>Course 2</h3>
          <p>Description</p>
        </div>
        <div><h2>C</h2></div>
      </div>

      <div class="course">
        <div>
          <h3>Course 3</h3>
          <p>Description</p>
        </div>
        <div><h2>B</h2></div>
      </div>
      
    </div>

    <!-- Notifications -->
    <div class="notifications">
        <h6>Notifications</h6>
      <div class="notification">
        <p>Person</p>
        <p>Title</p>
        <button class="close-btn">×</button>
      </div>
      <div class="notification">
        <p>Person</p>
        <p>Title</p>
        <button class="close-btn">×</button>
      </div>
      <div class="notification">
        <p>Person</p>
        <p>Title</p>
        <button class="close-btn">×</button>
      </div>
    </div>
</div>

<%- include('partials/footer') %>